In [8]:
from pandas_datareader import data as pdr
from pandas_datareader._utils import RemoteDataError
import yfinance as yfin
import matplotlib.pyplot as plt
from datetime import datetime, timedelta
import pickle

#Quant Finance
import talib
from finta import TA
import quantstats as qs
import pandas_ta as ta

import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

yfin.pdr_override()

In [43]:
# end_date =  datetime.now().date() - timedelta(days=30)
end_date =  datetime.now().date()
start_date = end_date - timedelta(days=5000)

prices = pdr.get_data_yahoo('VBL.NS', start=start_date, end=end_date)

[*********************100%%**********************]  1 of 1 completed

In [44]:
data = prices
data.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2016-11-08  63.703705  69.888885  61.755554  68.074074  66.454430  122297647
2016-11-09  58.222221  66.666664  58.222221  64.348145  62.817150    5476693
2016-11-10  66.074074  68.281479  64.185188  64.644447  63.106396    3103002
2016-11-11  64.296295  66.666664  63.696297  65.281479  63.728287    2187688
2016-11-15  64.888885  65.881477  63.703705  64.903702  63.359493    2426051

In [45]:
len(data)

1860

In [55]:
data['IsMorningStar'] = talib.CDLMORNINGSTAR(data.Open, data.High, data.Low, data.Close)
data['Is2Crows'] = talib.CDL2CROWS(data.Open, data.High, data.Low, data.Close)

In [56]:
data[data['Is2Crows'] == 1]

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume, IsMorningStar, Is2Crows]
Index: []